[project]
	description = Jayant test
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jayattarde
[access "refs/for/refs/*"]
	read = group user/jayattarde
	push = group user/jayattarde
	label-Code-Review = -2..+2 group user/jayattarde
	label-Verified = -1..+1 group user/jayattarde
	rebase = group user/jayattarde
	removeReviewer = group user/jayattarde
	submit = group user/jayattarde
[access "refs/heads/*"]
	read = group user/jayattarde
	create = group user/jayattarde
	push = +force group user/jayattarde
	pushMerge = group user/jayattarde
[access "refs/tags/*"]
	push = +force group user/jayattarde
	pushTag = group user/jayattarde
	pushSignedTag = group user/jayattarde
